<ul class="nav ml-4">
  <li class="nav-item rounded-right">
    <a asp-controller="Ideas" asp-action="Dashboard" class="nav-link">Dashboard</a>
  </li>
  <li class="nav-item rounded-right">
    <a asp-controller="Ideas" asp-action="New" class="nav-link">New Idea</a>
  </li>
  <li class="nav-item rounded-right">
    <a asp-controller="Home" asp-action="Details" class="nav-link">User Details</a>
  </li>
  <li class="nav-item rounded-right">
    <a asp-controller="Home" asp-action="Logout" class="nav-link">Logout</a>
  </li>
</ul>