@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="row mt-4">
        <div class="col">
            <partial name="_Register"></partial>
        </div>
        <div class="col">
            <partial name="_Login"></partial>
        </div>
    </div>
</div>
